@model IEnumerable<SixstarPPC.Models.Installment_Contract>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    @if (Session["success"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">

            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Well done!</strong> @Session["success"]
        </div>
    }
</p>
<div class="card-body">
    <table id="example" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Mã Hợp đồng </th>
                <th>Tên</th>
                <th>CMND</th>
                <th>Địa chỉ</th>
                <th> Mã bất động sản</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Installment_Contract_Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SSN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer_Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.Property_Code)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Print", "Print", new { id = item.ID })
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <th>Mã Hợp đồng </th>
                <th>Tên</th>
                <th>CMND</th>
                <th>Địa chỉ</th>
                <th> Mã bất động sản</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

@section scripts{
    <script src="~/Scripts/jquery.min.js"></script>

    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({

            });
        });
    </script>
}
