@model IEnumerable<SixstarPPC.Models.Property>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>View List of Property</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    @if (Session["success"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">

            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Well done!</strong> @Session["success"]
        </div>
    }
</p>
<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Mã Bất Động Sản</th>
                <th>Tên Bất Động Sản</th>
                <th>Giá</th>
                <th>Hình Ảnh</th>
                <th>Trạng Thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property_Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property_Name)
                    </td>
                    <td>
                        @string.Format("{0:0,0}", @item.Price) VNĐ
                    </td>
                    <td>
                        <img src="@(Url.Content("~/Images/" + item.Avatar))" width="80" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property_Status.Property_Status_Name)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-default" }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" }) |
                        <button class="btn btn-danger"><a href="~/Admin/PropertyAdmin/Delete/?id=@item.ID" onclick="return confirm('Bạn có thực sự muốn xóa');">Delete</a></button>
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <th>Mã Bất Động Sản</th>
                <th>Tên Bất Động Sản</th>
                <th>Giá</th>
                <th>Hình Ảnh</th>
                <th>Trạng Thái</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>