@model IEnumerable<SixstarPPC.Models.Property>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>View List of Property</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    @if (Session["success"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">

            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Well done!</strong> @Session["success"]
        </div>
    }
</p>
<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Property_Code</th>
                <th>Property_Name</th>
                <th>Price</th>
                <th>Avatar</th>
                <th>Property_status_Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property_Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <img src="@(Url.Content("~/Images/" + item.Avatar))" width="80" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property_Status.Property_Status_Name)
                    </td>
                    <td>
                        @Html.ActionLink("Add Contract", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <th>Property_Code</th>
                <th>Property_Name</th>
                <th>Price</th>
                <th>Avatar</th>
                <th>Property_status_Name</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>